@import url("./reset.css");
@import url("./footer.css");
@import url("./home.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* My classes*/
.my-section {
  @apply 2xl:px-96 lg:px-52 px-12 py-10;

  @apply min-w-[400px];
}

.my-page {
  @apply flex-grow my-section;
}

.my-label {
  @apply text-sm text-primary;
}

.my-input {
  @apply border-primary border-solid border-2 rounded ring-primary h-full;
}

.my-button {
  @apply bg-primary hover:bg-primary/50 rounded text-secondary px-3 py-1 focus:animate-scale;
}

.my-link {
  @apply hover:underline text-sm text-primary hover:text-primary/50;
}

/* Tags */
a {
  @apply hover:cursor-pointer;
}

body {
  @apply h-screen;
}

body > div#root {
  @apply flex flex-col h-screen;
}

/* Actions */
::selection {
  @apply bg-primary text-secondary;
}
